@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "android";
  src: url(../fontes/idroid.otf) format("opentype");
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --font-destaque: "Bebas Neue", "cursive";
  --fonte-android: "android", "cursive";
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

a.externo::after {
  content: '\00A0 \1F517';
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  padding-top: 30px;
  text-align: center;
}

header h1 {
  color: white;
  font-family: var(--font-destaque);
  font-size: 3em;
  font-weight: normal;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.520);
  margin-bottom: 20px;
}

header p {
  color: white;
  font-size: 1.2em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.520);
  max-width: 600px;
  margin: auto;
  padding: 0px 10px 50px 10px;
}

nav {
  background-color: var(--cor5);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.504);
  padding: 10px;
  text-align: center;
}

nav a {
  color: var(--cor1);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.443);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  transition-duration: .5s;
}

nav a:hover {
  background-color: var(--cor2);
  color: var(--cor5);
  padding: 10px;
}

main {
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.467);
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 0px 0px 10px 10px;
}

main h1 {
  font-size: 1.8em;
  margin: auto;
  font-family: var(--fonte-android);
  color: var(--cor5);
  font-weight: normal;
}

main h2 {
  margin: 15px 0px 15px 0px;
  font-family: var(--fonte-android);
  font-size: 1.3em;
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor0), transparent);
  text-indent: 10px;
  font-weight: normal;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a {
  background-color: var(--cor1);
  color: var(--cor5);
  font-weight: bold;
  text-decoration: none;
  padding: 2px 5px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

main img {
  width: 100%;
}

.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px;
  padding: 20px;
  padding-bottom: 56.5%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.264);
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside > ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  transition-duration: 0.5s;
}

footer a:hover {
  color: var(--cor1);
  text-decoration: underline;
  margin: 0px 5px;
}